@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Бульбашкове сортування (MVC)</title>
    <style>
        body { text-align: center; font-family: Arial; }
    </style>
</head>
<body>
    <h1>Бульбашкове сортування (MVC) в реальному часі</h1>
    <!-- Тег img отримує потік від ендпоінту BubbleSortStream -->
    <img src="/Tasks/BubbleSortStream" alt="Sorting in real time" />
    <br /><a href="/Tasks/BubbleSortMVC">Скинути сортування</a> | <a href="/">Меню</a>
</body>
</html>