@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Інтеграл (MVC)</title>
</head>
<body>
    <h1>Обчислення інтегралу методом трапецій (MVC)</h1>
    <form asp-action="IntegralMVC" method="post">
        <label>Нижня межа (a):</label>
        <input type="text" name="a" value="0" /><br /><br />
        <label>Верхня межа (b):</label>
        <input type="text" name="b" value="3.1416" /><br /><br />
        <label>Кількість підінтервалів (n):</label>
        <input type="text" name="n" value="10" /><br /><br />
        <input type="submit" value="Обчислити" />
    </form>
    <br /><a href="/">Меню</a>
</body>
</html>
